* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: aqua;
  padding: 1rem;
}
/* sort and search bars */
nav {
  display: flex;
}

/* table grid */
.grid-row {
  display: grid;
  grid-template-columns: 20px repeat(7, minmax(90px, 160px)) repeat(3, 60px);
  grid-template-rows: repeat(auto-fill, 40px);
  gap: 0.5rem;
  align-items: end;
}

/* what now?! */
img {
  display: none;
}
